<nav class="navbar navbar-expand-lg sticky-top navbar-togleable-sm">
  <a class="navbar-brand" href="#">
    <img class="logohistory" src="assets/images/icons/coso.png" alt="logo" srcset="" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon ion-md-menu"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="home" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="character" href="#">Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="About Us" href="#"> About Us </a>
      </li>
    </ul>

    <div class="login d-flex flex-row justify-content-center mt-8">
      <div class="iconodetails">
        <a id="login1" class="nav-link" href="#">
          <img onmouseover="show()" onmouseout="show()" src="assets/images/icons/user.png" alt="user" srcset="" width="35px" />

        </a>

        <p id="text">Login</p>
      </div>

      <div class="iconodetails">

        <a id="login2" class="nav-link" href="#">
          <img onmouseover="show2()" onmouseout="show2()" src="assets/images/icons/salir.svg" alt="logout" srcset="" width="35px">
        </a>

        <p id="text2">Logout</p>
      </div>
    </div>
  </div>
</nav>
